.itemIcon{
    height: 350px;
    width: 250px;
    object-fit: cover;
    margin: 20px;
}

.iconContainer{
    position: absolute;
    left: 235px;
    top: 185px;
}

.title{
    position: absolute;
    width: 44px;
    height: 15px;
    left: 144px;
    top: 97px;
  font-family: 'Gothic A1', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  }

  .icon{
      height: 135px;
      width:135px;
      position: absolute;
      top: 40%;
      right: 0%;
      
  }