.confirm{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border:none;
    font-size:32px;
    padding:0;
    margin-top: 10px;
}

.block{
    
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
  }

  .selectedImage{
      width: 500px;
      height:680px;
      float:left;
      margin-left: 50px;
      margin-right: 50px;
      object-fit: cover;
  }

h1, h2{

font-family: 'Poppins', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: left;
}

.itemsDetected{
    padding-top:150px;}

.selectItems{
    padding-top: 10px;
    font-size:48px;
    line-height: 60px;
}